html { 
    font-size: 62.5%; 
}

body {
    background-image: linear-gradient(90deg, rgba(7,0,128,1) 0%, rgba(0,212,255,1) 100%);
    color: #333;
    min-height: 100vh;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.6rem;
}

#to-do-list-container {
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 1.6rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
    font-size: 3.9rem;
}

.input-container form {
    font-family: inherit;
}

.input-container input {
    border-radius: .5rem .5rem 0 0;
    height: 5rem;
    padding-left: 1.5rem;
    color: inherit;
    border: none;
}

.input-container button {
    border-radius: 0 0 .5rem .5rem;
    font-size: 1.7rem;
}

.tasks {
    padding: 2.5rem;
    border-radius: .5rem;
    overflow: hidden;
}

.tasks .list-group-item {
    border: none;
    border-radius: .5rem;
    padding: 1.5rem 3rem;
    width: 100%;
    max-width: 768px;
    color: rgb(29, 29, 133);
    font-weight: bold;
    font-size: 2.25rem;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: all 500ms ease-in-out;
    transform-origin: top;
}

.tasks .list-group-item.completed {
    animation-name: fadeOut;
    animation-duration: 800ms;
    animation-delay: 950ms;
    background-color: green;
    color: #fff;
}

.tasks .list-group-item.deleted {
    animation-name: fadeOut;
    animation-duration: 800ms;
    animation-delay: 950ms;
    background-color: red;
    color: #fff;
}

.tasks .list-group-item.completed .complete {
    outline: 1px solid #fff;
}

.tasks .list-group-item.deleted .delete {
    outline: 1px solid #fff;
}

.tasks .list-group-item span {
    display: block;
    width: 100%;
    max-width: none;
}

.tasks .list-group-item span:first-letter {
    text-transform: capitalize;
}

.task-controls {
    width: 100%;
}

.task-controls button {
    width: 3.5rem;
    height: 3.5rem;
    color: inherit;
    border: none;
    border-radius: .5rem;
    transition: all 150ms ease-in-out;
}

.task-controls button i {
    pointer-events: none;
}

.task-controls button:hover {
    opacity: .8;
}

.task-controls button.complete {
    background-color: green;
}

.task-controls button.delete {
    background-color: red;
}

.task-controls button.edit {
    background-color: orange;
}

.notice {
    font-size: 2rem;
}

.empty-the-list {
    border: none;
    padding: 0.48em 1.4em;
    border-radius: 7px;
    box-shadow: 0 0 21px 0 rgba(0,0,0,.1);
    background: red;
    color: #fff;
    transition: all 200ms ease-in-out;
    font-weight: bold;
    animation-name: slideInRight;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 150ms;
    opacity: 0;
}

.empty-the-list:hover {
    background: rgb(208, 16, 16);
}

.edit-form {
    gap: 10px;
}

.edit-task-text {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 13px;
    color: #333;
    font-weight: 300;
    font-size: 1.95rem;
    flex-grow: 1;
}

.edit-controls {
    gap: 5px;
}

.edit-controls button {
    width: 3.5rem;
    height: 3.5rem;
    color: inherit;
    border: none;
    border-radius: .5rem;
    transition: all 150ms ease-in-out;
}

.edit-controls button:hover {
    opacity: .8;
}

.edit-controls button.edit-submit {
    background-color: green;
}

.edit-controls button.edit-close {
    background-color: red;
}

@media only screen and (min-width: 768px) {

    .input-container input {
        border-radius: .5rem 0 0 .5rem;
    }
    
    .input-container button {
        border-radius: 0 .5rem .5rem 0;
    }

    .tasks .list-group-item span {
        max-width: 72%;
    }

    .task-controls {
        width: auto;
    }

}

@media only screen and (min-width: 992px) {

    .tasks .list-group-item span {
        max-width: 80%;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(200%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}